h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#red{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: red;
}

#green{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: green;
}

#blue{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: blue;
}
#yellow{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: yellow;
}